
a:link {
    text-decoration: none;
    color: black;
    display: block;
}

.top_bar .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-image: url('https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto 120px;
    text-indent: -9999px;
}

.top_container {
    position: absolute;
    top: 120px;
    left: 0;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #333;
}

.top_container .left_container {
    position: relative;
    top: 0;
    float: left;
    left: 340px;
    height: 40px;
    line-height: 40px;
}

.top_container .right_container {
    position: relative;
    top: 0;
    float: right;
    right: 290px;
    height: 40px;
    line-height: 40px;
}

.top_container .my_cart {
    position: relative;
    top: 0;
    float: right;
    right: 30px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    background-color: #424242;
    text-align: center;
}

.top_container a {
    text-decoration: none;
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}

.top_container a:hover {
    color: white;
    text-decoration: none;
}

.top_container .span {
    margin: 0 .3em;
    color: #424242;
}

.top_container .app_code {
    position: relative;
}

.top_container .app_code:hover {
}

.qr_code {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 124px;
    height: 0;
    background: #fff;
    margin-left: -55px;
    -webkit-box-shadow: #aaa 0 1px 5px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.site-header {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100%;
    top: 160px;
    left: 0;
}

.site-header .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: url("../image/header-logo.png");
}

.site-header .header-search {
    position: absolute;
    top: 0;
    right: -350px;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}

.site-header .header-search .search {
    position: absolute;
    width: 230px;
    height: 50px;
    z-index: 20;
    outline: none;
    font-size: 15px;
}

.site-header .header-search .search_button {
    position: relative;
    left: 236px;
    width: 56px;
    height: 56px;
    background-color: white;
    font-size: 20px;
    transition: all 0.5s;
}

.site-header .header-search .search_button:hover {
    background-color: #FF6700;
    transition: all 0.5s;
}

.site-header .header-nav {
    position: relative;
    z-index: 10;
    float: left;
    width: 800px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
    /*background-color: purple;*/
}

.site-header .header-nav .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    left: 80px;
    width: 85%;
    height: 100%;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    /*background-color: black;*/
}

.nav-list .nav-item {
    float: left;
    display: inline-block;
    line-height: 88px;
    text-align: center;
    width: 75px;
    color: #333;
    height: 88px
}

.nav-item .span {
    margin: 0 .3em;
    color: #424242;
}

.nav-list .nav-item:hover {
    color: #ff6700;
}

.home {
    position: absolute;
    z-index: 10;
    top: 215px;
    height: 830px;
    left: 0;
    width: 100%;
    /*background-color: white;*/
}

.home .main_page {
    z-index: 20;
    position: relative;
    top: 26px;
    width: 1226px;
    height: 500px;
    /*left: 0;*/
    margin: 0 auto;
    background-color: black;
}

.home .main_page .left_bar {
    height: 100%;
    z-index: 20;
    width: 234px;
    background: rgba(105, 101, 101, .6);
}

.home .main_page .left_bar .item {
    position: relative;
    z-index: 20;
    color: white;
    height: 50px;
    width: 234px;
    text-align: left;
    line-height: 50px;
}

.home .main_page .left_bar .item .item-img {
    position: absolute;
    background: transparent;
    top: 17px;
    z-index: 20;
    right: 15px;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.home .main_page .left_bar .item:hover {
    background-color: #ff6700;
}

.home .main_page.left_bar_container {
    display: block
}

.home .main_page .left_bar_container .left_bar_hover_list {
    position: absolute;
    top: 0;
    width: 992px;
    height: 500px;
    z-index: 10;
    left: 234px;
    background: white;
    /*display: none;*/
    visibility: hidden;
}

.home .main_page .left_bar dt:hover ~ #left_bar_hover_list, .home .main_page .left_bar_container .left_bar_hover_list:hover {
    /*background: yellow;*/
    /*display: block;*/
    visibility: unset;
}

.left_bar_hover_item {
    position: relative;
    width: 252px;
    color: black;
    height: 80px;
    /*background: olivedrab;*/
}

.left_bar_hover_item:hover .text {
    color: #ff6700;
}

.left_bar_hover_item .item-img {
    width: 50px;
    height: 50px;
    border: 0;
    top: 15px;
    outline: none;
    position: absolute;
    display: table-cell;
    vertical-align: middle;
}

.left_bar_hover_item .text {
    position: relative;
    left: 5px;
    line-height: 80px;
    font-size: 14px;
    font-family: 微软雅黑, serif;
}

.home .main_page .left_bar_container .main_list {
    position: absolute;
    top: 0;
    width: 992px;
    height: 500px;
    z-index: 0;
    left: 234px;
    opacity: 1;
    background: url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/d65e7bc110ca74b9d7fa7ce53a841971.jpg?thumb=1&w=1533&h=575&f=webp&q=90");
}

.home .main_page .left_bar_container .main_list .left_arrow {
    position: absolute;
    background: url("../image/main_list_left_arrow.png");
    width: 41px;
    outline: none;
    height: 69px;
    top: 210px;
    left: 0;
    right: auto;
    opacity: 1;
    transition: all 0.5s;
}

.home .main_page .left_bar_container .main_list .left_arrow:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.home .main_page .left_bar_container .main_list .right_arrow {
    position: absolute;
    background: url("../image/main_list_right_arrow.png");
    width: 41px;
    height: 69px;
    outline: none;
    top: 210px;
    left: auto;
    right: 0;
    opacity: 1;
    transition: all 0.5s;
}

.home .main_page .left_bar_container .main_list .right_arrow:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.home .main_page .left_bar .item:hover + .home .main_page .left_bar_container .left_bar_hover_list {
    opacity: 1;
    transition: all 0.5s;
}

.right_bar {
    right: 0;
    width: 60px;
    height: 150px;
    margin: 0 auto;
    background-color: indigo;
}

.home .bottom_bar {
    position: relative;
    top: 50px;
    width: 1226px;
    height: 170px;
    z-index: 15;
    /*left: 10%;*/
    margin: 0 auto;
    /*background-color: cadetblue;*/
}

.bottom_bar .home-channel-list {
    position: absolute;
    height: 100%;
    width: 234px;
    /*background-color: darkblue;*/
}

.bottom_bar .home-channel-list ul {
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    /*background: #5f5750;*/
}

.bottom_bar .home-channel-list ul li {
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    background: #5f5750;
}

.bottom_bar .home-channel-list ul li a:hover {
    color: #b0b0b0;
}

.home-channel-list ul li a {
    display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    color: #fff;
    opacity: .7;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.home-channel-list ul li a img {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.bottom_bar .home-promo-list {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style-type: none;
    width: 978px;
    height: 170px;
    right: 0;
    /*background-color: blue;*/
}

.home-promo-list li {
    float: left;
    width: 316px;
    height: 170px;
    margin-left: 10px;
    transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
}

.home-promo-list li a img {
    float: left;
    left: 5px;
    display: block;
    width: 316px;
    height: 170px;
}

.box-hd {
    z-index: 20;
    position: relative;
    top: 850px;
    margin: 0 auto;
    width: 1200px;
    height: 700px;
    background-color: #F5F5F5;
}

.box-hd .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.box-hd .more_link {
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    font-size: 16px;
    line-height: 58px;
    color: #424242;
}

.box-hd .more_link:hover a {
    color: #FF6700;
    transition: all 0.5s;
}

.box-hd .row {
    margin: 0 auto;
    width: 1200px;
    height: 614px;
}

.box-hd .row .left-img {
    position: absolute;
    width: 233px;
    height: 613px;
    /*background-color: yellow;*/
}

.box-hd .row .right_img {
    z-index: 20;
    position: absolute;
    width: 966px;
    height: 613px;
    /*float: left;*/
    /*display: inline-block;*/
    top: 41.5px;
    right: 0;
    /*background-color: blue;*/
}

.box-hd .row .right_img .right_item {
    float: left;
    position: relative;
    height: 305px;
    width: 241px;
    z-index: 20;
    /*background-color: yellow;*/
}

.figure_item {
    margin: 15px auto 18px;
    width: 160px;
    height: 160px;
    /*background-color: red;*/
}

.right_img .desc {
    text-align: center;
    color: #b0b0b0;
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}

.right_item .list_item {
    position: absolute;
    margin: 0 0 5px 10px;
    background-color: white;
    height: 280px;
    width: 230px;
}

.site_footer {
    background: white;
}

.footer_service {
    position: relative;
    width: 100%;
    /*height: 80px;*/
    /*background-color: green;*/
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer_service .footer_service_list {
    z-index: 20;
    margin: 0 auto;
    width: 1200px;
    height: 25px;
    /*background-color: black;*/
}

.footer_service_list .item {
    float: left;
    height: 25px;
    width: 19.8%;
    border-left: 1px solid #e0e0e0;
    line-height: 25px;
    text-align: center;
}

.footer_service_list .item a:hover {
    color: #ff6700;
}

.footer_links {
    position: relative;
    width: 100%;
    height: 160px;
    /*background-color: blue;*/
    padding: 40px 0;
}

.footer_links_left {
    z-index: 20;
    margin: 0 auto;
    width: 1200px;
    height: 250px;
    /*background-color: black;*/
}

.footer_links_left dl {
    /*background-color: red;*/
    float: left;
    width: 160px;
    margin: 0;
}

.footer_links_left dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.footer_links_left dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.footer_links_left dd a {
    color: #b0b0b0;
}

.footer_links_left dd :hover {
    color: #FF6700;
}

.footer_links_left .last_list {
    position: absolute;
    float: right;
    top: 50px;
    right: 155px;
    width: 250px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.last_list .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.last_list p {
    margin: 0 0 5px 0;
    font-size: 12px
}

.last_list .message {
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 2px solid #ff6700;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.last_list .message:hover {
    background: red;
    transition: all .4s;
    color: white;
}

.last_list .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.last_list .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}

.last_list .follow .wb {
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb.png') 50% 0 no-repeat;
    background-size: cover;
}

.last_list .follow .wx {
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx.png') 50% 0 no-repeat;
    background-size: cover;
}

.last_list .follow .followQr {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.last_list .follow .wx:hover ~ .followQr {
    display: block;
}

.site_info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site_info .container {
    position: relative;
    margin: 0 auto;
    width: 1220px;
}

.site_info .container .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url('//s02.mifile.cn/assets/static/image/logo-footer.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.site_info .container .info_text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site_info .container .sites {
    margin: 0;
    line-height: 18px;
}

.site_info .container .info_text .sites a {
    display: inline-block;
    color: #757575;
}

.site_info .container .info_text p a {
    display: inline-block;
    color: #b0b0b0;
}

.site_info .container .info_text p a:hover {
    color: #FF6700;
}

.site_info .container .info_text .sites .sep {
    margin: 0;
}

.site_info .container .info_links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.site_info .container .info_links a {
    display: inline-block;
}

.site_info .container .info_links a img {
    width: auto;
    height: 28px;
    margin-left: 0;
}

.site_info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    height: 19px;
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png') no-repeat center 0;
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}