a:link {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.top_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #333;
}

.top_container .left_container {
    position: relative;
    top: 0;
    float: left;
    left: 340px;
    height: 40px;
    line-height: 40px;
}

.top_container .right_container {
    position: relative;
    top: 0;
    float: right;
    right: 290px;
    height: 40px;
    line-height: 40px;
}

.top_container .my_cart {
    position: relative;
    top: 0;
    float: right;
    right: 30px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    background-color: #424242;
    text-align: center;
}

.top_container a {
    text-decoration: none;
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}

.top_container a:hover {
    color: white;
    text-decoration: none;
}

.top_container .span {
    margin: 0 .3em;
    color: #424242;
}

.top_container .app_code {
    position: relative;
}

.top_container .app_code:hover {
}

.qr_code {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 124px;
    height: 0;
    background: #fff;
    margin-left: -55px;
    -webkit-box-shadow: #aaa 0 1px 5px;
    box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
}

.site_header {
    position: absolute;
    z-index: 20;
    height: 100px;
    width: 100%;
    top: 40px;
    left: 0;
    /*background: green;*/
}

.site_header .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.site_header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}

.site_header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: url("../image/header-logo.png");
}

.site_header .header-search {
    position: absolute;
    top: 0;
    right: -350px;
    width: 296px;
    height: 50px;
    margin-top: 25px;
}

.site_header .header-search .search {
    position: absolute;
    width: 230px;
    height: 50px;
    z-index: 20;
    outline: none;
    font-size: 15px;
}

.site_header .header-search .search_button {
    position: relative;
    left: 236px;
    width: 56px;
    height: 56px;
    background-color: white;
    font-size: 20px;
    transition: all 0.5s;
}

.site_header .header-search .search_button:hover {
    background-color: #FF6700;
    transition: all 0.5s;
}

.site_header .header-nav {
    position: relative;
    z-index: 10;
    float: left;
    width: 800px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
    /*background-color: purple;*/
}

.site_header .header-nav .nav-list {
    position: relative;
    z-index: 10;
    float: left;
    left: -30px;
    width: 880px;
    height: 100%;
    margin: 0;
    list-style-type: none;
    font-size: 14px;
    /*background-color: black;*/
}

.nav-list .nav-item {
    float: left;
    display: inline-block;
    line-height: 80px;
    text-align: left;
    width: 88px;
    color: #333;
    height: 88px;
}

.nav-item .span {
    margin: 0 .3em;
    color: #424242;
}

.nav-list .nav-item:hover {
    color: #ff6700;
}

.nav_bar {
    position: absolute;
    top: 139px;
    z-index: 20;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .07);
}

.nav_bar .container {
    width: 1226px;
    height: 60px;
    margin: 0 auto;
    /*background: blue;*/
}

.nav_bar .container .comment {
    margin: 17px 0 0 0;
    float: right;
    /*background: blue;*/
}

.nav_bar .container .title1 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    color: #424242;
    float: left;
}

.nav_bar .container a:hover {
    color: #ff6700;
}

.detail {
    position: relative;
    top: 232px;
    width: 1226px;
    height: 820px;
    margin: 0 auto;
    /*background: blue;*/
}

.detail .img_left {
    position: absolute;
    left: 0;
    top: 0;
    width: 560px;
    height: 560px;
    background: green;
}

.detail .img_left .left_arrow {
    position: absolute;
    background: url('//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png') no-repeat -84px 50%;
    top: 250px;
    left: 0;
    width: 41px;
    height: 69px;
}

.detail .img_left .left_arrow:hover {
    background: url('//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png') no-repeat 0px 50%;
}

.detail .img_left .right_arrow {
    position: absolute;
    background: url('//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png') no-repeat -125px 50%;
    top: 250px;
    right: 0;
    width: 41px;
    height: 69px;
}

.detail .img_left .right_arrow:hover {
    background: url('//i1.mifile.cn/f/i/2014/cn/icon/icon-slides.png') no-repeat -43px 50%;
}

.detail .product_right {
    position: absolute;
    right: 0;
    width: 600px;
    height: 100%;
    /*background: blue;*/
}

.detail .product_right .title1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: #212121;
}

.detail .product_right .title2 {
    color: #b0b0b0;
    margin: 0;
    font-size: 14px;
    padding-top: 8px;
    line-height: 1.5;
}

.detail .product_right .price_info {
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #ff6700;
    padding: 12px 0 10px;
}

.detail .product_right .activity {
    padding: 10px 0 5px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 15px;
}

.detail .product_right .activity .flow_box span {
    display: inline-block;
}

.detail .product_right .activity .flow_box .flow_tag {
    width: 80px;
    padding: 2px 0;
    text-align: center;
    background: #ff6700;
    color: #fff;
}

.detail .product_right .activity .flow_box .flow_name {
    width: 430px;
    line-height: 26px;
    margin-left: 5px;
}

.detail .product_right .address {
    width: 600px;
    height: 100px;
    margin: 20px 0;
    background: #fafafa;
    border: 1px solid #e0e0e0;
}

.detail .product_right .address .container {
    position: relative;
    top: 25px;
    left: 20px;
    width: 300px;
    height: 50px;
    background: #fafafa;
}

.detail .product_right .address .container .address_info {
    display: inline-block;
    font-size: 14px;
}

.detail .product_right .address .container .address_info span {
    display: inline;
    margin-right: 14px;
}

.detail .product_right .buy_box {
    margin-bottom: 30px;
    position: relative;
}

.detail .product_right .buy_box .option_item {
    position: relative;
    top: 20px;
    width: 292px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    display: inline-block;
    color: #ff6700;
    border: 1px solid #ff6700;
}

.detail .product_right .select_list {
    position: relative;
    top: 20px;
    width: 540px;
    height: 86px;
    background: #f9f9fa;
    padding: 30px;
    font-size: 15px;
    margin-bottom: 30px;
}

.detail .product_right .total-price {
    color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
}

.detail .product_right .button_box {
    position: relative;
    top: 20px;
    margin: 10px 0 20px 0;
}

.detail .product_right .button_box a {
    display: inline-block;
}

.detail .product_right .button_box .buy_button {
    width: 298px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-size: 16px;
    background: #ff6700;
    color: #fff;
    transition: all 0.4s;
}

.detail .product_right .button_box .buy_button:hover {
    background: red;
    transition: all 0.4s;
}

.detail .product_right .button_box .like_button {
    position: relative;
    left: 5px;
    width: 140px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    transition: all .4s;
    background: #b0b0b0;
    color: #fff;
    font-size: 16px;
}

.detail .product_right .button_box .like_button:hover {
    background: grey;
}

.detail .product_right .after_sale_info {
    position: relative;
    top: 10px;
    width: 600px;
    height: 70px;
}

.product_detail {
    position: absolute;
    top: 1070px;
    width: 100%;
    height: 1300px;
    border-top: 1px solid #e0e0e0;

}

.product_detail .detail_banner {
    text-align: center;
    padding: 10px 0;
    background-color: #F5F5F5;
}

.product_detail .detail_banner .container {
    width: 342px;
    margin:0 auto;
}
.product_detail .detail_banner .container dt{
    width: 168px;
    height: 18px;
    padding: 20px 0;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    color: #424242;
    display: inline-block;
}
.product_detail .detail_banner .container .img_box{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.site_footer {
    background: white;
}

.footer_service {
    position: relative;
    width: 100%;
    /*height: 80px;*/
    /*background-color: green;*/
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer_service .footer_service_list {
    z-index: 20;
    margin: 0 auto;
    width: 1200px;
    height: 25px;
    /*background-color: black;*/
}

.footer_service_list .item {
    float: left;
    height: 25px;
    width: 19.8%;
    border-left: 1px solid #e0e0e0;
    line-height: 25px;
    text-align: center;
}

.footer_service_list .item a:hover {
    color: #ff6700;
}

.footer_links {
    position: relative;
    width: 100%;
    height: 160px;
    /*background-color: blue;*/
    padding: 40px 0;
}

.footer_links_left {
    z-index: 20;
    margin: 0 auto;
    width: 1200px;
    height: 250px;
    /*background-color: black;*/
}

.footer_links_left dl {
    /*background-color: red;*/
    float: left;
    width: 160px;
    margin: 0;
}

.footer_links_left dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.footer_links_left dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.footer_links_left dd a {
    color: #b0b0b0;
}

.footer_links_left dd :hover {
    color: #FF6700;
}

.footer_links_left .last_list {
    position: absolute;
    float: right;
    top: 50px;
    right: 155px;
    width: 250px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.last_list .phone {
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.last_list p {
    margin: 0 0 5px 0;
    font-size: 12px
}

.last_list .message {
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 2px solid #ff6700;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.last_list .message:hover {
    background: red;
    transition: all .4s;
    color: white;
}

.last_list .follow {
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

.last_list .follow a {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}

.last_list .follow .wb {
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wb.png') 50% 0 no-repeat;
    background-size: cover;
}

.last_list .follow .wx {
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/wx.png') 50% 0 no-repeat;
    background-size: cover;
}

.last_list .follow .followQr {
    width: 126px;
    height: 126px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

.last_list .follow .wx:hover ~ .followQr {
    display: block;
}

.site_info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}

.site_info .container {
    position: relative;
    margin: 0 auto;
    width: 1220px;
}

.site_info .container .logo {
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url('//s02.mifile.cn/assets/static/image/logo-footer.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.site_info .container .info_text {
    color: #b0b0b0;
    padding-left: 67px;
}

.site_info .container .sites {
    margin: 0;
    line-height: 18px;
}

.site_info .container .info_text .sites a {
    display: inline-block;
    color: #757575;
}

.site_info .container .info_text p a {
    display: inline-block;
    color: #b0b0b0;
}

.site_info .container .info_text p a:hover {
    color: #FF6700;
}

.site_info .container .info_text .sites .sep {
    margin: 0;
}

.site_info .container .info_links {
    height: 28px;
    margin: 4px 0 15px;
    padding-left: 67px;
}

.site_info .container .info_links a {
    display: inline-block;
}

.site_info .container .info_links a img {
    width: auto;
    height: 28px;
    margin-left: 0;
}

.site_info .slogan {
    clear: both;
    margin: 30px auto 0;
    width: 100%;
    height: 19px;
    background: url('https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png') no-repeat center 0;
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}